footer {
    width:100%;
    background-color:transparent;
    padding:10px 20px;
    position:fixed;
    bottom:0px;
}
footer h1 {
    font-size:15px;
    color:#c0392b;
    font-family:sans-serif;
    text-align:center;
}